<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Region <small>{{regionActiva | titlecase}}</small></h2>

    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias($event)"
                placeholder="Buscar Region..."></app-pais-input>
        </div>
    </div>
    <ul *ngIf="mostrarSugerencias" class="list-group">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/region', pais.cca2]">
                {{pais.name.common}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action" (click)="buscarSugerido( termino )">
            <a class="nav-link">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>

    <hr>

</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino: {{termino}}
</div>

<h5>Seleccione la region</h5>

<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>
<hr>
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>