

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}


.footer {
    background-color: #1d293f;
}

.footer__copy {
    --padding-container: 15px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}